.form-type-checkbox .formtips-wrapper {
  display: inline-block;
}

.formtip {
  display: inline-block;
  box-sizing: content-box;
  width: 13px;
  height: 13px;
  margin: 0 .3em;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  letter-spacing: normal;
  color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
}

.formtip:focus,
.formtip:hover,
.formtip:active {
  cursor: help;
  transition: all .25s ease-in-out;
  text-decoration: none;
  color: #fff;
  border: 2px solid #2369a6;
  background-color: #2369a6;
}

.formtip::before {
  content: '?';
  color: #fff;
}

.formtips-processed:not(.formtips-show) {
  display: none;
  opacity: 0;
}

.formtips-processed.formtips-show {
  display: block;
  opacity: 1;
}

.formtips-processed {
  position: absolute;
  z-index: 100;
  display: none;
  padding: 20px;
  transition: opacity .25s ease-in-out;
  text-align: left;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  line-height: 1.4;
}

.formtips-processed ul.tips,
div.description.formtips-processed,
.form-item .description.formtips-processed,
.form-item__description.formtips-processed {
  margin: 0;
  color: #fff;
}

.formtips-processed.filter-guidelines,
div.description.formtips-processed,
.form-item .description.formtips-processed,
.form-item__description.formtips-processed,
.fieldset__description.formtips-processed {
  background-color: #1e2021;
}

.formtips-processed.filter-guidelines .filter-guidelines-item,
.fieldset__description.formtips-processed {
  margin: 0;
  color: #fff;
}

.filter-wrapper .form-item label {
  display: table;
}

/* The pointer of the tooltip. */
.formtips-processed::before {
  position: absolute;
  top: -12px;
  left: 1.5em;
  width: 0;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
}

/* Ensure the wrapper doesn't cut off tip. */
.formtips-item {
  position: relative;
  overflow: visible !important;
}

/**
 * Workaround for Seven theme until
 * https://www.drupal.org/project/drupal/issues/3028675 is committed.
 */
.vertical-tabs {
  overflow: inherit !important;
}
